<div ng-app="app">
<div ng-controller="peopleCtrl"> 
<h1>The contact list</h1>
<ul>
<li ng-repeat="person in people">
  <p>firstName: {{person.firstName}}</p>
  <p>lastName: {{person.lastName}}</p>
  <p>phone: {{person.phone}}</p>
</li>
</ul>
</div>
 
</div>